// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Hier beginnt mein SASS

$mint: #00B1AC;
$white: #FFFFFF;


.article-search_input_round {
    border-radius: 5px;

}

.article-search_button_mint {
    background-color: mix($mint,$white, 75%);
    color: $white;
}

.articles_table_outlines{
    border: 4px solid $teal;
    td{
        border: 2px solid $teal;
    }
    tr
    {
        border: 1px solid $teal;
    }
}

.articles_header_mint {
    color: $mint;
}
.articles_table-header_mint{
    color: $mint;
}

.menuDiv {
    display: flex;

}

.menu-outer-ul {
    list-style-type: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 20px;
}

.menu-outer-ul > .menu-outer-li {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.menu-outer-li {
    margin-top: 7px;
    font-family: "Arial Black";

}

.menu-inner-li {
    list-style-type: square;
    font-size: large;
    font-family: Apple;
    margin-left: 8px;
    margin-top: 7px;
}

.menu-inner-ul li {
}

.menuDiv {
    display: flex;

}

.menu-outer-ul {
    list-style-type: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 20px;
}

.menu-outer-ul > .menu-outer-li {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.menu-outer-li {
    margin-top: 7px;
    font-family: "Arial Black";

}

.menu-inner-li {
    list-style-type: square;
    font-size: large;
    font-family: Apple;
    margin-left: 8px;
    margin-top: 7px;
}

.menu-inner-ul li {
}

.inner_menu{
    list-style-type: none;
}

